[submodule ".tmux/plugins/tpm"]
	path = .tmux/plugins/tpm
	url = https://github.com/tmux-plugins/tpm.git
[submodule ".config/nvim"]
	path = .config/nvim
	url = git@github.com:tripurari001/kickstart-modular.nvim.git
